@font-face {
    font-family: "Chopsic";
    src: local("Chopsic"),
    url("fonts/Chopsic.otf") format(".otf");
}

h1 {
    font-family: "chopsic", sans-serif;
}

.exo-text {
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}